<p id="notice"><%= notice %></p>

<p>
  <strong>Monthly target:</strong>
  <%= @company_target.monthly_target %>
</p>

<p>
  <strong>Anually target:</strong>
  <%= @company_target.anually_target %>
</p>

<%if current_api_v1_company%>
  <%= link_to '編集', edit_api_v1_company_target_path(@company_target) %> |
  <%= link_to 'ホーム', api_v1_company_targets_path %>
<%end%>
