<p id="notice"><%= notice %></p>

<h1>Company Targets</h1>

<table>
  <thead>
    <tr>
      <th>Monthly target</th>
      <th>Anually target</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_targets.each do |company_target| %>
      <tr>
        <td><%= company_target.monthly_target %></td>
        <td><%= company_target.anually_target %></td>
        <td><%= company_target.company_id %></td>
        <td><%= link_to 'Show', company_target %></td>
        <td><%= link_to 'Edit', edit_company_target_path(company_target) %></td>
        <td><%= link_to 'Destroy', company_target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company Target', new_company_target_path %>
