<p id="notice"><%= notice %></p>

<p>
  <strong>Monthly target:</strong>
  <%= @department_target.monthly_target %>
</p>

<p>
  <strong>Anually target:</strong>
  <%= @department_target.anually_target %>
</p>

<%if current_api_v1_department%>
  <%= link_to '編集', edit_api_v1_department_target_path(@department_target) %> |
  <%= link_to 'ホーム', api_v1_department_targets_path %>
<%end%>