<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @todo_target.body %>
</p>

<p>
  <strong>Department:</strong>
  <%= @todo_target.department_id %>
</p>


<% if current_api_v1_department %>
  <%= link_to '編集', edit_api_v1_todo_target_path(@todo_target) %> |
  <%= link_to 'ホーム', api_v1_todo_targets_path %>
<%end%>
